<a href="https://colab.research.google.com/github/coderanandmaurya/PANDAS/blob/main/groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df1 = pd.read_csv('https://raw.githubusercontent.com/coderanandmaurya/PANDAS/main/stackdatasetexample.csv') 
print(df1)

      name  age employment_status state
0    Anush   23               emp    pb
1   Ankush   32             unemp    pb
2   Alisha   21               emp    pb
3    Rohit   34               emp    hp
4    Komal   26             unemp    hr
5  Karthik   29               emp    hr

34

In [5]:
df1['age'].max()

34

In [4]:
df1['age'].mean()

27.5

In [6]:
print(df1.groupby(["state"])['name'].count())

state
hp    1
hr    2
pb    3
Name: name, dtype: int64

In [7]:
j=df1['state'].value_counts()   
print(j)

pb    3
hr    2
hp    1
Name: state, dtype: int64

In [17]:
df1

      name  age employment_status state
0    Anush   23               emp    pb
1   Ankush   32             unemp    pb
2   Alisha   21               emp    pb
3    Rohit   34               emp    hp
4    Komal   26             unemp    hr
5  Karthik   29               emp    hr

In [19]:
df1.groupby('state').groups

{'hp': [3], 'hr': [4, 5], 'pb': [0, 1, 2]}

In [16]:
df1.groupby(['state','age']).groups

{('hp', 34): [3], ('hr', 26): [4], ('hr', 29): [5], ('pb', 21): [2], ('pb', 23): [0], ('pb', 32): [1]}

In [22]:
df1.groupby('age')['state'].value_counts()

age  state
21   pb       1
23   pb       1
26   hr       1
29   hr       1
32   pb       1
34   hp       1
Name: state, dtype: int64

In [25]:
df1.groupby('state')['age'].value_counts()

state  age
hp     34     1
hr     26     1
       29     1
pb     21     1
       23     1
       32     1
Name: age, dtype: int64